<h1>Jquery#index</h1>
<p>Find me in app/views/jquery/index.html.erb</p>

<div>old content</div>

<script type="text/javascript">
  $('div').hide()
  $('div').text("new content it is")
  $('div').addClass("new_content")
  $('div').show()
</script>
